ion-header {
  --padding-top: 50px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-title {
  font-size: 0.8em;
}

ion-header {
  background-color: warning;
}

ion-label {
  width: 130px;
}

ion-input, ion-select {
  color: gray;
  text-align: right;
}